<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/blog.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <div class="descrip">
        <h2> Why I am more drawn to Age of Empires II than Starcraft II.</h2>
        <p> Being that chess is one of the first games I learned to take seriously, it has had a formative impact on my preference for games. I love real-time strategy games because they can be living, animated, dynamic versions of chess.
        </p>
        <p>
          HD remasters of Age of Empires II 20 years after its initial release keep it a living game, with an active competitive scene, casual online play, and regular streaming. Despite being 11 year older than Starcraft II which came out in 2010, it is arguably as active today as Starcraft II.
        </p>
        <p>
        </p>
        <p>
          
        </p>
        <p>
        </p>

      </div>
    </section>







    <footer>
      <p>this is my blog</p>
    </footer>
  </body>


</html>
