<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/blog.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <div class="descrip">
        <h2> Balancing micro and macro with healthy doses of tactics and strategy</h2>
        <p>
            Being that chess is one of the first games I learned to take seriously, it has had a formative impact on my preference for games. I love real-time strategy games because they can be living, animated, dynamic versions of chess.         </p>
        <p>
          HD remasters of Age of Empires II 20 years after its initial release keep it a living game, with an active competitive scene, casual online play, and regular streaming. Despite being 11 year older than Starcraft II which came out in 2010, it is arguably as active today as Starcraft II.
        </p>
        <p>
          In case you know nothing about Age of Empires, it is a real time strategy game where players build an empire starting with only a few villagers, collect resource and amass an army to eventually destroy their opponent’s empire. A lot of different elements combine to make age of empires a really balanced game. The pace of progress, procedurally generated maps, and number of useful resources keep the game accessible, and fun between players of large skill differences.
        </p>
        <p>
          Many real-time strategy games fundamentally advantage players with more familiarity of the hotkeys and faster tactile response. Playing Starcraft can be like playing chess without waiting for your opponent to move and the person to move the pieces fastest wins. Like an athlete, one can practice over and over again hitting the right hotkeys and totally optimizing functionality and minimizing idle player time. This is especially possible playing Starcraft, where levels are generated the same way every time they are played. While you can not see where your opponent is, the map and all the resources are already revealed to you.
        </p>
        <p>
          Age of Empires on the other hand procedurally generates every map. The map and all the resources on it are left for the players to explore. There is no way to anticipate any one feature and strategies must be adapted in real-time. This fundamentally changes the game for the better. It increases the margin for fairness with the added element of randomness. Given there are four different resources to collect, there are many emergent strategies given the spread of easily available resources. I can not anticipate what my opponent will do because I do not know what resources are available to them unless I scout his base.
        </p>
        <p>
          Despite still only being able to type with 2-6 fingers at any time, I find myself able to play Age of Empires II competitively online. It is likely because it balances micro and macro, tactics and strategy so well.
        </p>

      </div>
    </section>







    <footer>
      <p>this is my blog</p>
    </footer>
  </body>


</html>
