<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/blog.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <div class="descrip">
        <h2> Complexity from Deduction: A Unique Quality of Chess </h2>
        <p> My grandfather taught me Chess at an early age. I love Chess for its
          accessibility, simplicity, and long history. I’ve played competitively
          my whole life and have faced opponents who are deaf, blind, and
          physically disabled. Not many games I know can intimately connect such
          a diverse set of people of different ages, physical abilities,
          economic status, and cultural backgrounds. Despite its long history,
          and foundation in the development of many strategic war games, it has
          fundamental qualities which make it unique amongst modern games.
        </p>
        <p>
          Chess is one of the only games where the complexity increases as items
          are removed from the game. Nothing is synthesized during the game --
          no pieces are added and no rules are altered. The complexity of Chess
          arises from the structure of its components and the emergent
          properties of those structures. Chess has a limited number of possible
          moves and it is intuitive to think the more pieces there are the more
          complex the structure. In some way this is true. In the beginning
          stages of the game, there is a intricate thread of connections between
          the pieces that keeps the game in balance and it takes a skilled
          player to break this balance to their own advantage. On the other
          hand, as pieces are removed, it is more difficult to maintain balance.
        </p>
        <p>
          While Chess pieces can be removed, the number of spaces on the board
          stay the same. This means the number of ~reasonable~ moves for each
          surviving piece increases. As a player takes advantage of this new
          freedom there become fewer connections between pieces, making them
          more vulnerable and making the potential to be punished for a
          less-than-optimal move greater.
        </p>
        <p>
          Despite lacking synthesis and the ability to add anything to the game,
          Chess is not solely a game of deductive reasoning. There is no
          feasible way to consider and anticipate every possible move of every
          piece. A good player does not necessarily perform a longer tree of
          calculations in their head, but must exercise intuition and
          creativity. Intuition helps a player limit the number of moves they
          will calculate in their head. Creativity helps a player find the move
          that doesn’t align with their opponent’s intuition.
        </p>
        <p>
          I love the idea that all you have to do in Chess is find the right
          move. I’ve grown up with the anecdote from the World Chess Champion
          (1894-1921) Emanuel Lasker, “if you see a good move, find a better
          one”. My Ukrainian chess coach used to tell me if I found a move I
          wanted to make, I should sit on my hands and look for another. Despite
          sounding conceptually simple, Chess has outlasted many hundreds of
          years of human play in addition to intense computer analysis. Alan
          Turing published the first chess computer program in 1951 and Chess
          has yet to be “broken” or “solved” -- which ever way you look at it.
        </p>

      </div>
    </section>







    <footer>
      <p>this is my blog</p>
    </footer>
  </body>


</html>
