<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/blog.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <div class="descrip">
        <h2> Question: How can virtual reality abstract the act of navigating a large space? </h2>
        <p> One of the merits of virtual reality is that it grants players more
          freedom by attaching a camera to their face—inside virtual reality I
          am the camera. I am also the avatar which I am so used to bossing
          around with simple button presses on a controller. It does not
          necessarily simulate reality more accurately than other mediums, but
          its content can be experienced in ways that mirror how reality is
          experienced. So is the the goal of making VR content to create
          experiences which mimic reality the most convincingly? Perhaps. If a
          player is having thoughts like “this tree is fake… these physics are
          broken… why can’t I interact with this?” they are likely not as
          immersed as they should be. However, if a player’s sole desire is to
          interact with their environment in the most real way, why would they
          use VR it the first place? Reality is right in front of them.
        </p>
        <p>
          One of the merits of generic gaming mediums is that it separates
          players from its content. When I play chess I do not need to command
          an army of real soldiers. When I play Street Fighter, I do not need to
          worry about breaking my nose or puncturing a lung. When I play
          Tony Hawk Underground, I do not need to break a sweat skateboarding
          endlessly through an airport terminal. These games successfully
          transport me into their world without requiring that I do the manual
          labor for that world. The power of games is that they abstract
          interaction and make diverse experiences more accessible.
        </p>
        <p>
          VR has yet to explore the many ways of abstracting basic interactions
          that other gaming mediums have already championed. One of the most
          essential interactions—movement—is still underexplored. Most ways of
          moving in VR entail walking from one end of a room to another,
          teleporting there with a press of a button, or simply not being able
          to move at all. The physical limitations of using VR—like the fact a
          headset is tethered by a chord, won’t work outside of a trackable
          area, and blinds its users—are reasons movement is so limited.
          However, I propose that these are only limitations if movement is
          interpreted literally.
        </p>
        <p>
          Extra Terrestrial Clunker is a project I worked on for Building
          Virtual Worlds, a class at Carnegie Mellon's Entertainment Technology
          Center. It allows a player the navigate a desert, picking up crystals
          in an alien flying saucer which is controlled by the chair they are
          sitting on. Two HTC Vive Trackers attached to the chair detect the
          direction the player is facing, and how much they are leaning
          forward/backward—which in turn flies the saucer. I took the initiative
          to design, engineer, and implement the chair which controls the flying
          saucer. I wondered how someone could move freely through a space
          without walking, teleporting, or using their hands. Pondering this
          question at my desk, I took note of the satisfying springiness of my
          chair and realized it could control a vehicle, which would free my
          hands and feet. Here is a video of the game being played:
        </p>
        <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/hMr4aNkEe14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          I feel the game somewhat successfully abstracts the act of flying a
          spaceship and consequently navigating a large space. I do not suggest
          every VR experience’s primary means of navigation should entail a
          vehicle but I do feel that VR needs to take itself less literally,
          and allow its users to explore beyond the mundainess of a room.
        </p>

      </div>
    </section>







    <footer>
      <p>this is my blog</p>
    </footer>
  </body>


</html>
