<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|DM+Serif+Display|Fascinate+Inline|Orbitron|Play|Press+Start+2P|Rajdhani|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Saira&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/V-u7eGWUlPM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="descrip">
        <div class="row">
          <div class="col-md-4">
        <h1 class="div_title"> CHROMA </h1>
        <p> (Team) This game is a 2d dungeon-crawler puzzle platformer where you play as rogue, mysterious mercenary who brings color back to the world. You must platform through treacherous rooms, defeat monsters, and flip mirrors
          to direct a beam of light to giant crystals hidden in the dungeon. When all is done, you will face a final boss who aims to keep the world in darkness. This game was developed in the Spring of 2017 for Tom Corbett's class, Game Design, Prototyping, and Production (53-471).
            As a member of a six person team, I primarily worked as level designer, composer, and sound designer. The soundtrack
            features original music which I wrote, performed and produced. This class
            was my first introduction into game design.
        </p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/315475793&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      </div>
    </div>
      </div>
    </section>
  </body>






    <footer>
      <p>chroma</p>
    </footer>
  </body>


</html>
