<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|DM+Serif+Display|Fascinate+Inline|Orbitron|Play|Press+Start+2P|Rajdhani|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Saira&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/_Cyn-sTbfZ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="descrip">
        <div class="row">
          <div class="col-md-4">
        <h1 class="div_title"> COOK AND RUIN </h1>
        <h3 >  Interactive Story for Meta II - Presented at the Building Virtual Worlds Festival - Sep. 2018 </h3>
        <p> (Team) Cook and Ruin is an augmented reality application for the Meta II.  It is an interactive story which begins with the player receiving a letter from their grandmother inviting them to Grandpap’s 100th birthday party. The grandmother asks the player to ruin the dinner so that Grandpap will want to go home because she is worried that her sister who is hosting the party wants to seduce Grandpap. The story cuts to a dinner scene where Grandpap states “the doctor says I shouldn’t eat spicy food. My brain will overheat!” and “I like my fish juicy!” The player subsequently must throw as many chillies as they can into the ramen and burn as many fish as possible without being seen by the grandmother’s sister. If done correctly, Grandpap will breath fire, throw the burnt fish on the floor, and jump into grandmother’s arms on his way out. I was the lead designer, script writer, sound designer, and voice acting director. Cook and Ruin was presented at the Building Virtual Worlds Festival hosted by the Entertainment Technology Center.
        </p>
      </div>
    </div>
  </div>
    </section>
  </body>






    <footer>
      <p>cook and ruin</p>
    </footer>
  </body>


</html>
