<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>
    <script src="/canvasjs/canvasjs.min.js"></script>
    <script>
    $(function() {

    var opArray = [];
    var dataArrays = [];
    var chart;

    function renderCharts() {
    	for (var i = 0; i < opArray.length; i++) {
    		//console.log("rendering...")
    		//console.log(opArray[i]);
    		opArray[i].render();
    	}
    }

    function createOpString(operators) {
    	var opString = "operators: ";
    	var opStr = " ";
    	for (var i = 0; i < 3; i++) {
    		if (operators[i] == 0) {
    			//console.log("here");
    			opString = opString.concat(" +");
    			opStr = opStr.concat(" +");
    		}
    		if (operators[i] == 1) {
    			opString = opString.concat(" -");
    			opStr = opStr.concat(" -");
    		}
    		if (operators[i] == 2) {
    			opString = opString.concat(" x");
    			opStr = opStr.concat(" x");
    		}
    		if (operators[i] == 3) {
    			opString = opString.concat(" /");
    			opStr = opStr.concat(" /");
    		}
    		if (operators[i] == 4) {
    			opString = opString.concat(" ^");
    			opStr = opStr.concat(" ^");
    		}
    		if (operators[i] == 5) {
    			opString = opString.concat(" %");
    			opStr = opStr.concat(" %");
    		}
    	}
    	//console.log(opString);
    	return [opString, opStr];
    }

    var i = 0;
    var j = 0;
    var k = 0;
    var index = 0;
    var max = 1;
    function nextChart() {
    	var operators = [i, j, k]
      var opString = createOpString(operators)[0];
    	var opStr = createOpString(operators)[1];

    	//console.log("creating chart" + opString)

    	var path = "/distributions/d-[" + (i.toString()) + ", " + (j.toString()) + ", " + (k.toString()) + "].json";
    	//console.log(path);
    	// create and append div
    	var id = ("chartContainer").concat(index.toString());

    	var div = document.createElement("div");
    	div.id = id;
    	div.style.width = "98%";
    	div.style.height = "400px";
    	div.style.margin = "1% 1%";
    	//div.style.background = "red";
    	//div.style.color = "white";
    	//div.innerHTML = "Hello";
    	document.getElementById("main").appendChild(div);

    	// createChart(path, id, opString);


    	var dataPoints = [];

    	// push dataPoints
    	$.getJSON(path, function(data) {
    		//console.log("adding data");
    		//console.log(data[0][0])
    		Object.keys(data[0][0]).forEach(function(key) {
          //console.log(key)
    			dataPoints.push({
    				label: opStr,
    				//x: key,
    				y: data[0][1][key]
    			})
    		})
    	});

    	// initialize chart
    	var chart = new CanvasJS.Chart(id, {
    		animationEnabled: true,
    		zoomEnabled: true,
    		theme: "light1",
    		title: {
    			text: (opString)
    		},
    		axisX: {
    			title: "results",
    			//interval: 10,
    			titleFontSize: 20,
    		},
    		axisY: {
    			title: "# of solutions",
    			titleFontSize: 20
    		},
    		data: [{
    			type: "column",
    			dataPoints: dataPoints
    		}]
    	});
    	opArray.push(chart);

    	// modify indices
    	index += 1;

    	// k < 5
    	if(k < max) { k += 1; }
    	// k == 5
    	else {// j < 5
    				if(j < max) { j += 1;	k = j; }
    				// j == 5
    				else {// i < 5
    							if(i < max) {	i += 1;	j = i; k = j }
    							// i == 5
    							else { renderCharts();	return; }}}

    	setTimeout(nextChart, 100);
    }
    nextChart();
    });
    </script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/dice/column">Column</a></li>
        <li><a class="nav-link" href="/dice/boxandwhisker">Box and Whisker</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <div id="main"></div>

  </body>

</html>
