<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|DM+Serif+Display|Fascinate+Inline|Orbitron|Play|Press+Start+2P|Rajdhani|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Saira&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/HiuZCO9rmFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="descrip">
        <div class="row">
          <div class="col-md-4">
        <h1 class="div_title"> GRAVITY SOUND </h1>
        <h3>Virtual Reality Space Simulator and Sound Installation - Dec. 2017</h3>
        <p>(Solo) Gravity Sound is an interactive simulation of our solar system which can be experienced in virtual reality and on a desktop. Its function is to sonify the force of gravity through a mechanical-acoustic metaphor. Imagine connecting the planets in our solar system by strings where each string's tension was determined by the force of gravity between two connected planets. What would our solar system sound like if one were to bow these strings as the planets orbit? How much would each string vary in pitch along different parts of orbit? Gravity Sound quenches those curiosities. It is possible to find the fundamental vibrational mode of a stretched string given its mass, length, and tension. Using data provided by NASA and JPL ephemerides, I accurately simulate the positions of the planets in our solar system from roughly 20,000 BCE to 20,000 AD. With a Pure Data embeddable audio synthesis library inside of Unity I procedurally generate the different string sounds and sonically spatialize them for a 360 degree immersive experience. A user is able to pick a date, create their own string alignments between planets, set the planets in motion at any variable speed, create new planets, throw them into orbit, and navigate outer space to experience a unique sonification of the solar system. Gravity Sound was debuted at the Subsurface Music Festival in 2017.
        </p>
      </div>
    </div>
      </div>
    </section>
  </body>






    <footer>
      <p>gravity sound</p>
    </footer>
  </body>


</html>
