<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/So6s3gZ4v6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="descrip">
        <h2> HANSEL AND GRETEL : HUNGRY FOR REVENGE </h2>
        <p> This game is a 2d puzzle platformer where you play as Gretel from the
          German fairy tale, Hansel and Gretel. You must fatten Hansel with
          tasty treats, and roll him up and off a mountain so he can bulldoze
          into the witch's house for sweet revenge.
        </p>
        <p> This game was developed in the Spring of 2017 for Tom Corbett's class, Game Design, Prototyping, and Production (53-471).
          As a member of a six person team, I primarily worked as a composer and sound designer. The soundtrack
          features original music which I wrote, performed and produced. This class
          was my first introduction into game design.
        </p>
      </div>
    </section>
  </body>





    <footer>
      <p>hansel and gretel: hungry for revenge</p>
    </footer>
  </body>


</html>
