<html>
  <head>
    <script src="/jquery/jquery.js"></script>
    <script>
    $(function(){
      $("#includedContent").load("/Homecoming3000web/index.html");
    });
    </script>
  </head>

  <body>
     <div id="includedContent"></div>
  </body>
</html>
