<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|DM+Serif+Display|Fascinate+Inline|Orbitron|Play|Press+Start+2P|Rajdhani|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Saira&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/scrolling.js"></script>
    <script src="/javascripts/navigation.js"></script>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/js/loaders/OBJLoader.js"></script>
    <script src="/three/js/loaders/MTLLoader.js"></script>
    <script src="/three/js/renderers/CSS3DRenderer.js"></script>


    <!--<script type="module" src="/three/textures/VideoTexture.js"></script>-->

    <script src="/javascripts/OrbitControls.js"></script>
    <script src="/javascripts/Tween.js"></script>


  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="/javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/work/groupwork">Group Work</a></li>
        <li><a class="nav-link" href="/work/solowork">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <body>
    <section class="project">
      <iframe id="utube" width="560" height="315" src="https://www.youtube.com/embed/s0jsMrVmomo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="descrip">
        <div class="row">
          <div class="col-md-4">
            <h1 class="div_title"> PUNCH BUGGY </h1>
        <h3 >  Video Game for Microsoft Kinect - Oct. 2018</h3>
        <p> (Team) Punch Buggy is a multiplayer game for Microsoft Kinect utilizing motion tracking. Players fight each other during a car chase with characters who have spring loaded punches. It was developed in 5 days for the Entertainment Technology Center and I was a lead designer, and sound designer.
        </p>
      </div>
    </div>
      </div>
    </section>
  </body>






    <footer>
      <p>punch buggy</p>
    </footer>
  </body>


</html>
