<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Woskob</title>
    <link rel='stylesheet' href='/stylesheets/test.css' />

  </head>

  <header>
    <div class="logo">
      <div class="threedlogo" id="3dlogo">
        <script src="javascripts/3dlogo.js"></script>
      </div>
      <h1 class="textlogo"> Alexander Woskob </h1>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a class="nav-link" href="#intro">HOME</a></li>
        <li><a class="nav-link" href="#intro">Group Work</a></li>
        <li><a class="nav-link" href="#about">Solo Work</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>





    <footer>
      <p>generic footer content</p>
    </footer>
  </body>


</html>
