@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

html{
    overflow: scroll;
}

:root {
  --background: #074F57dd;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }

header {
    display: grid;
    grid-template-columns: .1fr auto minmax(550px, 3fr) 1fr;
  }
/*
.logo {
    grid-column: 2 / 3;
  }
*/
.logo {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-left: 3em;
}

.textlogo {
  color: white;
  margin-left: 1em;
}

nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

body {
	margin: 0 auto;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
  overflow: hidden;
  background-color: white;
}

#particleCanvas {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -90;
  width: 100%;
  height: 100%;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  //background: radial-gradient(rgba(120, 0, 0, 0.5), rgba(120, 0, 0, 0.4), rgba(120, 0, 0, 0.3), rgba(120, 0, 0, 0.1), rgba(120, 0, 0, 0.01), rgba(120, 0, 0, 0));
}

/*
.content {
  height: vh;
  background-image: url(//unsplash.it/1000/1000);
   background-color: #AAA;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid
  display: grid;
  padding: 0px;
  place-items: center;
}
*/

.intro {
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 50vh 0;
  width: 100vw;
  height: 100vh;
  background: #00356B33;
  //background: rgb(0.2, 0.6, 0.95, 0.5);
  //background: radial-gradient(rgba(120, 0, 0, 0.5), rgba(120, 0, 0, 0.4), rgba(120, 0, 0, 0.3), rgba(120, 0, 0, 0.1), rgba(120, 0, 0, 0.01), rgba(120, 0, 0, 0))
}

.typing-container{
    position: absolute;
  	top: 50%;
  	right: 50%;
  	transform: translate(50%,-50%);
  	color: black;
  	max-width: 90%;
  	padding: 2em 3em;
  	background: rgb(250, 250, 250, .8);
  	font-family: 'Open Sans', sans-serif;
}

.text-primary{
  color: #077187;
}

.about {
  margin: 0 auto;
  color: white;
  //width: 100%;
  //height: 100%;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: #000000;
  //background: rgb(1,1,1,0.1);
}

.about-title {

}

#about-container {
  width: 80%;
  height: 100%;
}

#aboutimg {
  //position: relative;
  vertical-align: middle;
  //text-align: center; margin: 1em 0;
  float:left;

  border-radius: 50%;
}

.row {

}

.col-md-4 {

}

.work {
  //width: 100vw;
  //height: 50vh;
  padding: 10vh 0;
  margin: 0 auto;
  //position: relative;
  background: #00990066;
  //background: #33333366;
  color: black;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.contact {
  padding: 10vh 0;
  margin: 0 auto;
  width: 100vw;
  //background: #rgb(0.5,0.5,0.5,0.7);
  background: #000000;
  color: white;
}

.resume {
  padding: 10vh 0;
  margin: 0 auto;
  width: 100vw;
  background: #33333366;
  color: white;
}

footer {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  background: var(--background);
  color: white;
}

.projects{
  margin: 0 auto;
  top: 50px;
}


.fire{
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10 auto;
  position: absolute;
  z-index: 200;
}

#tvlayoutcanvas{
  margin: 0 auto;
  position: relative;
  height: 100vh;
  //background-color: lightblue;
}

#tvlayoutcanvas2{
  margin: 0 auto;
  position: relative;
  height: 3500px;
  //background-color: lightblue;
}

.ui{
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10 auto;
  position: absolute;
  transition: .5s ease;
  z-index: 200;
}
